#timelineSegment{
  height: 5.75em;
}

#branding {
  text-align: center;
  font-size: large;
  font-weight: bold;
  background: #F0F0F0;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  border-radius: .5em;
}

h4 {
  font-size: small;
}

#machineSegment {
  height: 38.8em;
  width: 15.2em;

}

#machine_box {
  box-sizing: border-box;
  margin: auto;
  align-content: center;
}

#machine {
  height: 37.5em;
  width: auto;
}

.component {
  height: 2.7%;
  width: auto;
  opacity: .4 !important;
}

.component-active {
  opacity: .8 !important;
}
#valve1 {
  visibility: visible;
  position: absolute;
  left: 70.7%;
  top: 88.2%;
}

#valve2 {
  visibility: visible;
  position: absolute;
  left: 26.6%;
  top: 83.3%;
}

#valve3 {
  visibility: visible;
  position: absolute;
  left: 40%;
  top: 58.2%;
}

#valve4 {
  visibility: visible;
  position: absolute;
  left: 26.5%;
  top: 51.8%;
}

#valve5 {
  visibility: visible;
  position: absolute;
  left: 13%;
  top: 44.8%;
}

#valve6 {
  visibility: visible;
  position: absolute;
  left: 40%;
  top: 34.5%;
}

#valve7 {
  visibility: visible;
  position: absolute;
  left: 26.6%;
  top: 24.5%;
}

#valve8 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 22.4%;
  top: 28%;
}

#valve9 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 37%;
  top: 43.4%;
}

#valve10 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 21%;
  top: 54.2%;
}

#valve11 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 19.7%;
  top: 48.2%;
}

#valve12 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 31%;
  top: 28%;
}

#valve13 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 31%;
  top: 54%;
}

#valve14 {
  opacity: .6;
  visibility: visible;
  position: absolute;
  left: 59%;
  top: 91.3%;
}

#valve15 {
  visibility: visible;
  width: 10%;
  height: auto;
  position: absolute;
  left: 29.4%;
  top: 90.8%;
}

#valve16 {
  visibility: visible;
  width: 10%;
  height: auto;
  position: absolute;
  left: 11.8%;
  top: 90.8%;
}
